/*
 * This is where custom CSS styles specific to the design-system documentation website will reside.
 */

 /* Override the hero image styles */
.usa-hero {
  background-image: url("../images/hero/farmersgov-1440x540-finlitmo-hero.jpg") !important;
}

/* Prevent usa-prose list styles from leaking into USWDS component demos */
.usa-prose > .usa-button-group {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.usa-prose > .usa-button-group > li {
  margin-bottom: 0;
  max-width: none;
}

/* USWDS bug: --secondary background overrides --outline transparent in cascade */
.usa-button--secondary.usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #4F78AA;
  color: #4F78AA;
}
.usa-button--secondary.usa-button--outline:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #205493;
  color: #205493;
}
.usa-button--secondary.usa-button--outline:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #183F6E;
  color: #183F6E;
}